.foot-wrapper {
    & .sc-digi-layout-block-h {
        --digi--layout-block--background--profile: var(--color-header-footer-bg);
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}

.foot-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.first-wrapper {
    display: flex;
    justify-content: space-around;
}

.sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s a {
    color: var(--color-primary);
}

.second-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s a {
        display: flex;
        justify-content: center;
    }
}

.sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s p {
    color: var(--color-primary);

}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    height: 100%;
}

.sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
    color: var(--color-header-footer-bg);
}

.sc-digi-icon-arrow-up-h svg.sc-digi-icon-arrow-up {
    color: var(--color-header-footer-bg);
}

.sc-digi-icon-arrow-right-h svg.sc-digi-icon-arrow-right {
    color: var(--color-header-footer-bg);
}

address {
    color: var(--color-primary);

    & .sc-digi-layout-container {
        & .sc-digi-layout-block {
            & .sc-digi-icon-envelope {
                color: var(--color-primary);
            }
        }
    }
}

address ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
}

address ul li {
    list-style: none;
}

address ul li a {
    color: var(--color-primary);
    text-decoration: none;
}

address ul li p {
    text-align: start;
}

address ul li div {
    display: flex;
    gap: 10px;
}

.sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s a svg {
    color: var(--color-primary)
}

.sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right], .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] p, .sc-digi-footer-h .sc-digi-footer-s > [slot^=content-bottom-right] p, .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right], .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] span, .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] span, .sc-digi-footer-h .sc-digi-footer-s > [slot^=content-bottom-right] span, .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right], .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] a, .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] a, .sc-digi-footer-h.sc-digi-footer-s > [slot^=content-bottom-right] a, .sc-digi-footer-h .sc-digi-footer-s > [slot^=content-bottom-right] a {
    color: var(--color-primary);
}


.digi-footer___content-bottom {
    margin: 0;
    text-align: center;
}

.digi-footer__content-bottom.sc-digi-footer.sc-digi-footer-s.sc-digi-layout-block.sc-digi-layout-container {
    margin-top: 0;
    padding-top: 0;
    display: block;
}


@media (max-width: 768px) {
    .foot-container {
        flex-direction: column;
        gap: 2rem;
    }

    .first-wrapper {
        flex-direction: column;
        align-items: center;
    }

    address ul li {
        margin-bottom: 10px;
    }

    .sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s {
        text-align: center;
    }
    
    .sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s ul {
        text-align: center;
    }
    
    .sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s li {
        text-align: center;
    }
    

    .foot-container .sc-digi-footer-card-h {
        text-align: center;
    }
    
    .foot-container .sc-digi-footer-card-h * {
        text-align: center;
    }
}