.foot-wrapper {
    & .sc-digi-layout-block-h {
    --digi--layout-block--background--profile: var(--color-header-footer-bg);
    width: 100vw;
    }
}
.foot-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.first-wrapper {
    display: flex;
    justify-content: space-around;
}
.second-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s a {
        display: flex;
        justify-content: center;
    }
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;                
    height: 100%;  
}
address {
    color: var(--color-text);
    & .sc-digi-layout-container {
        & .sc-digi-layout-block {
            & .sc-digi-icon-envelope {
                color: var(--color-primary);
            }
        }
}
}
address ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
}
address ul li {
    list-style: none;
}
address ul li a {
    color: var(--color-text);
    text-decoration: none;
}
address ul li p {
    text-align: start;
}
address ul li div {
    display: flex;
    gap: 10px;
}

.sc-digi-footer-card-h .digi-footer-card .sc-digi-footer-card-s a svg {
    color: var(--color-primary)
}
