.header-wrapper {
    background-color: var(--color-header-footer-bg);
    color: var(--color-text);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 75px;
    padding: 0 2rem;
    max-width: 100%;
    box-sizing: border-box;
}


.header-container :nth-child(1) {
    grid-column: 1 / 2;
    display: flex;

}

.header-container h1 {
    display: flex;
    align-items: end;
    font-size: 1.1rem;
    grid-column: 2 / 7;
    margin: 10px;
}

.header-container :nth-child(3) {
    grid-column: 8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.digi-media-image__image.sc-digi-media-image {
    min-width: 200px;
    cursor: pointer;
}

.sc-digi-header-navigation {
    background-color: var(--color-text);

}

.digi-header-navigation-item-indicator.sc-digi-header-navigation-item {
    background-color: var(--color-header-footer-bg);
}

.sc-digi-icon-globe-h svg.sc-digi-icon-globe {
    color: var(--color-primary)
}

.sc-digi-icon-user-alt-h svg.sc-digi-icon-user-alt {
    color: var(--color-primary)
}

.sc-digi-header-navigation-item-h {
    --digi--header-navigation-item--color-hover: var(--color-header-footer-bg);
    display: flex;
    align-items: flex-end;
}

.sc-digi-header-navigation-item-h a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease;
}

.sc-digi-header-navigation-item-h a:hover {
    border-bottom-color: var(--color-primary);
}


@media (max-width: 500px) {
    .header-container h1 {
        color: rgba(255, 255, 255, 0) !important;
    }
}

@media (max-width: 700px) {
    .header-container {
        padding: 0 1rem;
    }

    .digi-media-image__image.sc-digi-media-image {
        min-width: 150px;
    }

    .header-container h1 {
        font-size: 0.8rem !important;

    }

    .sc-digi-icon-user-alt-h svg.sc-digi-icon-user-alt {
        margin-left: 10px;
    }
}

@media (max-width: 1024px) {
    .header-container {
        padding: 0 2rem;
    }
}