
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {

  /* Standard colors */
  --color-background: #BDDFDA;
  /* Main background */
  --color-text: #FBFBFB;
  /* Textcolor */
  --color-primary: #FFC108;
  /* Titel / buttons / ikoner */
  --color-header-footer-bg: #035548;
  /* Header + footer background */

  /* Overriding of AF colors */
  --digi--color--background--inverted-1: var(--color-primary);
  --digi--color--background--inverted-2: var(--color-text);
  --digi--color--background--inverted-3: var(--color-primary);
  --digi--color--background--inverted-4: var(--color-header-footer-bg);
  --digi--color--background--inverted-6: var(--color-header-footer-bg); /*Hover*/

  /* Overriding of AF fonts */
  --digi--global--typography--font-family--default: "Poppins", sans-serif;
}