.sc-digi-layout-block-h {
    --digi--layout-block--background--profile: var(--color-header-footer-bg);
}

.foot-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.first-wrapper {
    display: flex;
    justify-content: space-around;
}
.second-wrapper {
    display: flex;
    flex-direction: column;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;                
    height: 100%;  
}
address {
    color: white;
}
address ul {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    padding-left: 80px;
}
address ul li {
    list-style: none;
}
address ul li a {
    color: white;
    text-decoration: none;
}
address ul li div {
    display: flex;
    gap: 10px;
}
