@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {
  /*Colors*/
  --digi--color--background--inverted-1: #91B4A9;
  --digi--color--background--inverted-6: #EDE7E3;
  --digi--color--background--inverted-6: #FFA62B;
  --digi--color--background--inverted-6: #16697A;
}
