@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {
  margin: 0;
  /* Standard colors */
  --color-background: #91B4A9; /* Main background */
  --color-text: #EDE7E3; /* Textcolor */
  --color-primary: #FFC108; /* Titel / buttons / ikoner */
  --color-header-footer-bg: #035548; /* Header + footer background */

  /* Overriding of AF colors */
  --digi--color--background--primary: var(--color-header-footer-bg);
  --digi--layout-block--background--primary: var(--color-header-footer-bg); 
  --digi--color--background--secondary: white; /* Background color DigibLayoutBlock - LayoutBlockVariation.SECONDARY */
  --digi--color--background--inverted-1: var(--color-primary);
  --digi--color--background--inverted-2: var(--color-text);
  --digi--color--background--inverted-3: var(--color-primary);
  --digi--color--background--inverted-4: var(--color-header-footer-bg);
  --digi--footer--text--color: var(--digi--color--text--inverted);
  --digi--color--icons--primary: var(--color-primary);; /* Color for all icons */

  /* Overriding of AF fonts */
  --digi--global--typography--font-family--default: "Poppins", sans-serif;

  --digi--layout-container--vertical-padding: 0;
  /* Padding and margin for all Digi-layout-components */
  .sc-digi-layout-container-h .digi-layout-container.sc-digi-layout-container {  /* successfully changed a component */
  padding: 0;
  margin: 0;
}
}

